<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="submit" method="post">
        <h1>welcome admin one to this page </h1>
        <label for="id_num">id number</label><br>
        <input type="id" name="id_num" required><br>
        <label for="F_name">first name</label><br>
        <input type="text" name="F_name" required><br>
        <label for="S_name">enter second name</label><br>
        <input type="text" name="S_name" required><br>
        <label for="age">age</label><br>
        <input type="age" name="age"><br>
        <label for="email">email</label><br>
        <input type="email" name="email" required>
         <button type="submit">submit</button>

    </form>
</body>
</html>