<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>student with thier grades</h2>
    <ul>
        grades
        <li>
            <h3>student a </h3>
                <p>chemistry</p>
                <p>phyiscs</p>
                <p>english</p>
                <p>biology</p>
             <h3>student b</h3>
                <p>chemistry</p>
                <p>phyiscs</p>
                <p>english</p>
                <p>biology</p>
              <h3>student c</h3>  
                <p>chemistry</p>
                <p>phyiscs</p>
                <p>english</p>
                <p>biology</p>
        </li>
    </ul>
</body>
</html>