<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="stu" method="post">
        <h2>welcome to your courses page </h2>
        <ul>
            <label for="start">here is yours courses</label>
            <li>
                <b>chemistry</b><br>
                <b>phyiscs</b><br>
                <b>english</b><br>
                <b>maths</b><br>
            </li>
        </ul>
    </form>
</body>
</html>